{% extends 'graph-base.html' %}

{% load url from future %}

{% block extra_js %}
require(['cs!graph']);
{% endblock %}

{% block extra_css %}
{{ graph_style }}
{% endblock %}

{% block body_attributes %}
data-graph-url="{% url 'graph_data' graph_id %}" class="marginless"
{% endblock %}

{% block container %}

<div id="graph-loading">
  Initializing...
</div>

<div class="graph">
  <div class="info-panel">
    <button class="close-button close">&times;</button>
    <h1 class="info-heading"></h1>
    <p class="info-short-description"></p>
    <p class="info-long-description"></p>
    <p class="info-youtube"></p>
    <a class="more-info-link" href="#">More Information</a>
    <p class="credit-wrapper"><span class="info-credit"></span></p>
  </div>
</div>
<div id="node-info" class="hidden">
  <div id="graph-coordinates"></div>
</div>
{% endblock %}
