{% load url from future %}

{% block content %}
<div id="ajax-view">
  <iframe class="vis-frame" src="{% url 'graph' graph_id %}" width="800" height="500"></iframe>
  <div class="vis-details">
    <div class="vis-timestamp">
      <b>Last updated:</b> {{ graph.last_updated }}
    </div>
    <div class="vis-timestamp"><b>Created:</b> {{ graph.created }}</div>
    <div class="vis-timestamp"><b>Modified:</b> {{ graph.modified }}</div>
    View the <a href="{% url 'graph_error_log' graph_id %}">validation log</a>
    for your last update.
  </div>
</div>
{% endblock %}
