{% for spreadsheet in spreadsheets %}
        <label class="radio">
            <img src="{{ spreadsheet.iconLink }}">
            {%  if current_spreadsheet_id == spreadsheet.id %}
                <input type="radio" name="spreadsheet_id" value="{{ spreadsheet.id }}" class="radio_buttons" checked="checked">
                <strong>{{ spreadsheet.title }}</strong>

            {%  else %}
                <input type="radio" name="spreadsheet_id" value="{{ spreadsheet.id }}" class="radio_buttons">
                {{ spreadsheet.title }}
            {% endif %}

            -
            <span>
                <a href="{{ spreadsheet.alternateLink }}" target="_blank">Link</a>
            </span>
        </label>
{% endfor %}
