{% extends "base.html" %}

{% load url from future %}

{% block content %}
    <form method="post" action="." class="spreadsheet-form">{% csrf_token %}
        {% for f in form.visible_fields %}
        <span class="label">{{ f.label }}:</span>
        {{ f.errors }}
        <ul class="options">
            {% for opt in f %}
                <li>{{ opt }} - <span><a href="#" target="_blank">Link</a></span></li>
            {% endfor %}
        </ul>
        {% endfor %}
    </form>
{% endblock %}

{% block extra_js %}
    require(['spreadsheet_chooser']);
{% endblock %}
