/* networkx basic UI styling. */
html, body {
  margin: 0; padding: 0;
  height: 100%; width: 100%;
  color: #222222; line-height: 18px;
  font-size: 13px; font-family: Arial;
  overflow: hidden;
}
a, a:visited { color: #15c; text-decoration: none; outline: none; }
a:hover, a:focus { color: #dd4b39; }
div, span, a, svg, code,
#view, #help, #create-pane, .hidden, textarea, input,
#vis-form-panel, .vis-entry, #vis-actions, .action {
  box-sizing: border-box;
  -webkit-transition: all 0.23s;
  -moz-transition: all 0.23s;
  -o-transition: all 0.23s;
  transition: all 0.23s;
}
div, a, code, #view, #create-pane, .hidden {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h2 { font-size: 16px; cursor: default; }

.hidden { opacity: 0.0 !important; }

.btn, .btn:visited {
  position: relative; display: inline-block;
  margin: 4px; padding: 6px 18px; vertical-align: top; white-space: nowrap;
  color: #444; font-size: 11px; font-weight: bold;
  -webkit-border-radius: 2px;
  border: 1px solid #DCDCDC; border: 1px solid rgba(0,0,0,0.1);
  -webkit-border-radius:2px; -moz-border-radius: 2px; border-radius: 2px;
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f5f5',EndColorStr='#f1f1f1');
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: default;
}
.btn:hover, .btn.hover {
  border: 1px solid #C6C6C6;
  color: #222;
  -webkit-transition: all 0.0s;
  -moz-transition: all 0.0s;
  -o-transition: all 0.0s;
  transition: all 0.0s;
  background-color: #f8f8f8;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}
.btn:active, .btn.active {
  background-color: #f6f6f6;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f6f6f6),to(#f1f1f1));
  background-image: -webkit-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: -o-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: linear-gradient(top,#f6f6f6,#f1f1f1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f6f6f6',EndColorStr='#f1f1f1');
  -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}
.btn.disabled {
  background: none;
  color: #b8b8b8;
  border: 1px solid #f3f3f3;
  border: 1px solid rgba(0,0,0,0.05);
  cursor: default;
  pointer-events: none;
}
.btn.red  {
  border: 1px solid transparent;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 900; font-size: 11px;
  background-color: #d14836;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#d14836));
  background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
  background-image: -moz-linear-gradient(top,#dd4b39,#d14836);
  background-image: -ms-linear-gradient(top,#dd4b39,#d14836);
  background-image: -o-linear-gradient(top,#dd4b39,#d14836);
  background-image: linear-gradient(top,#dd4b39,#d14836);
}
.btn.red:hover {
  border-color: #b0281a;
  border-bottom-color: #AF301F;
  background-color: #c53727;
  background-image: -webkit-gradient(linear,left top,left
  bottom,from(#dd4b39),to(#c53727));
  background-image: -webkit-linear-gradient(top,#dd4b39,#c53727);
  background-image: -moz-linear-gradient(top,#dd4b39,#c53727);
  background-image: -ms-linear-gradient(top,#dd4b39,#c53727);
  background-image: -o-linear-gradient(top,#dd4b39,#c53727);
  background-image: linear-gradient(top,#dd4b39,#c53727);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#dd4b39',EndColorStr='#c53727');
}
.btn.red:active {
  -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
}
.btn.blue {
  border: 1px solid #3079ed;
  color: #FFF; font-weight: 900;
  background-color: #4d90fe;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
  background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
  background-image: linear-gradient(top,#4d90fe,#4787ed);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',EndColorStr='#4787ed');
}

input[type=text] {
  padding-left: 8px; color: #333; font-size: 13px; line-height: 29px;
  border: 1px solid #D9D9D9; border-top: 1px solid silver;
  display: block; width: 100%;
  -webkit-border-radius: 1px;
  -webkit-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -o-transition: all 0.218s;
  transition: all 0.218s;
}
input[type=text]:hover {
  border: 1px solid #b9b9b9; border-top: 1px solid #a0a0a0;
  -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}
input[type=text]:focus {
  -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
  -MOZ-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
  border: 1px solid #4d90fe;
  outline: none;
}
input[type=text].invalid {
  border-color: #a00; color: #a00; background-color: #f88;
}
input[type=checkbox], input[type=radio], .fakecheckbox, .fakeradio{
  -webkit-appearance: none;
  width: 13px;
  height: 13px;
  border: 1px solid #C6C6C6;
  margin:0;
  -webkit-border-radius:1px;
  -moz-border-radius:1px;
  border-radius:1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor:default;
  position:relative;
  outline: none;
}
input[type=checkbox]:active, input[type=radio]:active,
.fakecheckbox:active, .fakeradio:active{
  border-color:#666;
  background:#ebebeb;
}
input[type=checkbox]:hover, input[type=checkbox]:focus,
input[type=radio]:hover, input[type=radio]:focus,
.fakecheckbox:hover, .fakeradio:hover{
  border-color:#666;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);
}

input[type=radio], .fakeradio{ border-radius:50%; width: 15px; height: 15px; }
input[type=checkbox]:checked::after, .fakecheckbox.checked::after {
  content:url('gfx/check_no_box.png');
  display:block; position:absolute; top:-6px; left:-5px;
}

.divider { padding: 0 10px; color: #aaa; }

#snippet {
  position: absolute;
  display: block; width: 240px; height: 50px;
  margin: 4px; padding: 8px 12px;
  background-color: #222; color: #eee;
  border: 1px solid #333;
  font-size: 10px;
  resize: none; overflow: hidden;
  opacity: 0.8;
  cursor: default;
}
#snippet:hover { background-color: #000; }
#snippet:active, #snippet:focus {
  outline: none;
  border-color: #fcc;
}

::-webkit-scrollbar {
  background-color: #fff;
}
::-webkit-scrollbar-track:vertical {
  border-right: 0px solid transparent;
  border-left: 5px solid transparent;
  background-clip:padding-box;
  background-color: #eee;
}
::-webkit-scrollbar-track:horizontal {
  border-bottom: 0px solid transparent;
  border-top: 5px solid transparent;
  background-clip:padding-box;
  background-color: #eee;
}

/*----------------------------------------------------------------------------*/
/* Admin Style */
/*----------------------------------------------------------------------------*/
.topbar {
  position: fixed; z-index: 50; width: 100%; height: 30px;
  background-color: rgba(0,0,0,0.8);
  color: #ccc;
  margin: 0; padding: 0;
  text-align: center;
  opacity: 0.9;
  border-bottom: 1px solid #eee;
}
.title, .title:visited {
  position: absolute; left: 0;
  color: #888; font-size: 16px; line-height: 35px;
  padding-left: 20px; white-space: nowrap;
}
.title:hover, title:focus { text-decoration: none; color: #fff; }
#view-name {
  font-size: 14px;
  font-variant: small-caps;
  line-height: 30px;
  cursor: default;
}
#links {
  position: absolute; right: 0; top: 0;
  padding: 8px 8px; cursor: default;
}
#links a { padding: 8px; color: #999; }
#links a:hover, .links a:focus { color: #fff; }

#help {
  position: fixed; z-index: 200; top: 32px; left: 206px;
  margin: 0; padding: 32px;
  background-color: #fff;
  min-width: 500px; max-width: 900px; width: 50%;
  height: 100%;
  overflow-y: scroll; overflow-x: hidden;
  opacity: 0.9;
}
#help-text {
/*  margin-top: 50px;  margin-left: 230px; */
  width: 100%;
  padding-bottom: 200px;
}


/* Mutation interface elements */
#vis-actions {
  position: fixed; top: 30px;
  padding: 30px 20px 0 30px;
  height: 100%; border-right: 1px solid #f0f0f0;
  display: inline-block;
  z-index: 400;
  background-color: rgba(255,255,255,0.8);
}
#vis-actions.hidden {
  left: -100px;
}
#vis-actions button {
  background-color: transparent;
  border: none;
}
.action {
  display: block;
  width: 30px; height: 30px;
  padding: 20px;
  opacity: 0.4;
  background: transparent center center no-repeat;
  background-size: 24px;
  cursor: pointer; outline: none;
}
.action:focus { opacity: 0.7; }
.action:hover, .action:active { opacity: 0.9; }
#btn-back { background-image: url('gfx/back_arrow.png'); }
#btn-refresh { background-image: url('gfx/refresh.svg'); }
#btn-edit { background-image: url('gfx/settings.svg'); }
#btn-embed { background-image: url('gfx/share.png'); }
#btn-save-positions { background-image: url('gfx/save.png'); }
#btn-docs { background-image: url('gfx/docs.png'); }

/* Visualization edit & create forms. */
#vis-form-panel {
  position: fixed; z-index: 300; left: 90px; top: 30px;
  border: 1px solid #eee;  padding: 16px;
  color: #888; background-color: rgba(255,255,255,0.9);
  min-width: 500px;
}
#vis-form-panel.hidden {
  left: -500px;
}
#input_name {
  width: 200px;
  font-size: 14px;
  display: block;
  padding: 8px 16px;
  /* margin-top: 3px; */
  line-height: 21px;
}
#input_url {
  display: block; width: 100%;
  margin-top: 8px; padding: 8px 16px;
  font-size: 10px;
}
#publicity-control {
  color: #888;
  padding: 8px;
}

.no-hover { display: none; }
#tooltip {
  position: absolute;
  color: #000; font-size: 11px; border-left: 1px solid #000;
  margin: 0; padding: 2px 12px; white-space: nowrap;
  opacity: 0.6; margin-top: -20px; margin-left: 38px;
  background-color: #fff;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
#tooltip-refresh { left: -50px; z-index: 100; bottom: -26px; }


/* Index of all of user's visualizations. */
#vis-index {
  position: absolute; top: 0;
  width: 100%; height: 100%;
  text-align: center;
  margin: 0;
  padding-top: 100px;
  background-color: #fff;
}
.vis-entry {
  position: relative; display: inline-block;
  margin: 0 10px; padding: 0;
  color: #222; white-space: nowrap;
  width: 200px; height: 120px;
  background: #fff url('../img/default_thumb.png');
  background-size: 100% auto;
  box-shadow: 0px 1px #ddd;
  border: 1px solid #eee;
  vertical-align: middle;
}
/* .vis-entry#pending { background-color: #f88; } */
.vis-entry:hover {
  background-color: #f1f1f1;
  box-shadow: 1px 3px 3px #eee;
  border: 1px solid #ddd;
  cursor: pointer;
  top: -2px;
}
.vis-entry.selected {
  /* width: 100%; height: 100%;
  z-index: 10;
  top: -50px; */
  opacity: 0;
}
.vis-entry-name {
  position: absolute; width: 100%;
  bottom: 2px; padding: 0 0;
  background-color: #fff;
  opacity: 0.85;
  font-size: 11px;
  color: #444;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.vis-entry#btn-create {
  background: none;
  padding: 50px;
  font-size: 128px;
  color: #ddd;
  text-shadow: 1px 1px 500px #888;
}
.vis-entry#btn-create:hover {
  text-shadow: 1px 1px 10px #aaa;
  color: #999;
}

.vis-entry#pending {
  background: transparent url('../img/spinner.gif') no-repeat center center;
  border: 1px solid #800;
}
.vis-entry.deleting {
  border: 1px solid #800;
  opacity: 0.5;
}

/* Primary graph view context. */
#view {
  position: absolute; top: 0; z-index: 20;
  width: 100%; height: 100%;
  background-color: #fff;
  /*
  background: url(data:image/gif;base64,R0lGODlhFAAUAIAAAMDAwP///yH5BAEAAAEALAAAAAAUABQAAAImhI+pwe3vAJxQ0hssnnq/7jVgmJGfGaGiyoyh68GbjNGXTeEcGxQAOw==)
  */
}
#view-loading {
  position: fixed; color: #aaa; display: block; width: 100%;
  font-size: 20px; text-align: center; top: 50%;
  z-index: 200;
}
#ajax-view { position: absolute; margin: 0; padding: 0; width: 100%; height: 100%; }
.vis-frame {
  position: fixed; left: 0; top: 0; margin: 0;
  width: 100%; height: 100%;
  border: none;
}
.text { text-align: left; margin: 40px 0 0 260px; padding: 8px 0 12px; }
.text.small { width: 400px; }
.center { margin: auto; }
/* Details view */
.vis-timestamp { display: block; }
.vis-refresh { position: absolute;  top: 0; right: 0; }
.vis-details {
  border: 1px solid #000; color: #fff;
  position: absolute; bottom: 0; right: 0;
  z-index: 50; margin: 8px; padding: 16px;
  background-color: #222; opacity: 0.8;
}
.vis-details a { color: #88d; }
.vis-details a:hover, .vis-details a:focus { color: #fff; }

.intro {
  position: absolute; top: 70px; left: 0;
  width: 100%; text-align: center; margin: auto;
}

.standalone-vis-frame {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  display: block;
  border: none;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 800px;
  height: 500px;
  overflow: hidden;
}

.faded-counter {
  position: fixed; bottom: 150px; right: 80px;
  font-size: 200px;
  text-align: center; color: #eee; cursor: default;
}

.ruled{ border-bottom: 1px solid #ccc; }

label.radio {  display: block; }
#butterbar-container {
  position: fixed; z-index: 500;
  width: 100%;
  top: 50px;
  text-align: center;
}
#butterbar {
  display: inline-block;
  background:#F9EDBE; border:1px solid #F0C36D;
  font-size: 12px; padding: 4px 8px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  cursor: default;
}
#butterbar.error { background-color: #f88; border-color: #f00; }
#butterbar-dismiss {
  padding: 4px 3px 3px 8px; color: #800;
}
#butterbar-dismiss:hover { color: #844; }

.controls { display: block; }
.controls input[type=text] { width: 163px; }
.form-label {
  display: block;
  margin: 0; line-height: 29px;
}
.form-entry { margin-bottom: 4px; display: inline-block; }

#invalid {
  position: fixed; top: 0;
  width: 100%; text-align: center;
  font-size: 24px; margin-top: 100px;
  color: #b99;
}
