{% extends 'base.html' %}
{% comment %}
This is the primary template file for the network x visualizer.
It's a 'single-page' UI which wraps the stand-alone vis viewer templates
with administrative functionality.
{% endcomment %}
{% load url from future %}

{% block extra_js %}
  require(['cs!netx']);
  var HOSTNAME = '{{ hostname }}';
  var VIS_ID = {% if vis_id %}{{ vis_id }}{% else %}null{% endif %};
  {% autoescape off %}
  var INDEX_DATA = {{ json_data }};
  {% endautoescape %}
{% endblock %}

{% block nav %}
<div class="topbar">
  <a class="title" href="/">Network Visualizer X</a>
  <span id="view-name">{{ vis.name }}</span>
  <span id="links">
    {% if google_user %}
      <span class="navbar-text">{{ google_user.email }}</span> |
      <a href="{% url 'oauth2logout' %}">Logout</a> |
      <a id="link-help" href="/help">Help</a>
    {% endif %}
  </span>
</div>
{% endblock %}  {# end |nav| #}

{% block content %}
{% if google_user %}
<form id="vis-form" class="vis-form" method="post">
  {% csrf_token %}

{% comment %}
This is the actual visualization viewport. The stand-alone vis is rendered
within a vis. Formctionality relating specifically to interacting with
individual nodes, edges, etc. will be self-contained within the IFRAME with
a handful of external parameters available. Formctionality relating to
interacting with the overall visualization entries-list and aggregate info
will remain outside the IFRAME in the scope of this UI.
{% endcomment %}

<div id="view" style="display: none">
  <div class="faded-counter">{{ vis_count }}</div>
</div>

<div id="view-loading" style="display:none">Loading...</div>

{# List of all visualizations as a clickable entry. #}
<div id="vis-index" style="display: none">
  {% if index %}{% for vis in index %}
  <div id="v-{{ vis.id }}"
       class="vis-entry
       {% if vis_id and vis_id == vis.id %}selected{% endif%}">
    <div class="vis-entry-name">
      {{ vis.name }}
    </div>
  </div>
  {% endfor %}{% endif %}
  <a id="btn-create" class="vis-entry create">+</a>
</div>

<div id="vis-form-panel" style="display:none" class="hidden">
  Name <input type="text" name="name" id="input_name" placeholder="Visualization Title"></input>
  Spreadsheet URL <input type="text" name="spreadsheet_link" id="input_url" placeholder="Spreadsheet URL"></input>
  <br>
  <div id="publicity-control">
  Publically viewable? <input type="checkbox" name="is_public" id="input_public"></input>
  </div>
  <input type="hidden" id="input_id" name="vis_id"></input>
  <button id="btn-save" class="btn red">Save</button>
  <button id="btn-delete" class="btn red" style="display: none">Delete</button>
</div>

{# Actions panel which is only visible when a visualization is open. #}
<div id="vis-actions" style="display: none">
  <button id="btn-back" class="action"></button>

  <div id="vis-view-mode">
    <button id="btn-edit" class="action"></button>
    <button id="btn-refresh" class="action"></button>
    <button id="btn-save-positions" class="action"></button>
    <button id="btn-error-log" class="action"></button>
    <a href="google.com" target="_blank" id="btn-docs" class="action"></a>
    <div id="share-box">
      <button id="btn-embed" class="action"></button>
      <div id="share-content" class="hidden">
        <h2>Embed this visualization</h2>
        <textarea id="snippet" readonly>N/A</textarea>
        <a href="" id="standalone-link">View Standalone</a>
      </div>
    </div>
  </div>

  <span id="tooltip" class="hidden"></span>
</div>

</form>

<div id="help" class="hidden no-hover">
  {% include "help.html" %}
</div>

{% else %}  {# no |google_user| #}

<div class="intro">
  <h2>What is Network Visualizer X?</h2>
  <div class="text small center">
    <p>A tool that makes it simple for NGOs to
    generate visualizations of networks of support.
    It can also be used to create network viss for other types of data.</p>
    <p>To get started, login with your google account.</p>
  </div>
  <a class="btn red" href="{% url 'login' %}">Login</a>
</div>

{% endif %}  {# end |google_user| #}


<div id="butterbar-container">
<div id="butterbar" class="hidden">
  <span id="butterbar-text"></span>
  <a id="butterbar-dismiss" class="hidden" href="javascript:void();">dismiss</a>
</div>
</div>

{% endblock %}  {# end |content| #}
