{% extends 'base.html' %}

{% block extra_js %}
  VIS_ID='{{ vis_id }}';
  require(['cs!vis']);
{% endblock %}

{% block content %}
<div id="ajax-view">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/vis.css" media="all" />
  <style>
  {{ vis_style }}
  </style>

  <div id="vis-loading">Loading...</div>
  <div class="graph"></div>

  <div id="node-info" class="hidden">
    <div id="graph-coordinates"></div>
  </div>

  <div id="invalid" style="display: none">
    Visualization does not exist.
  </div>
</div>
<a href='http://google.com'>MEOW</a>
{% endblock %}
